<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calarry Counter - Edit</title>
    <link type="text/css" href="/style.css" rel="stylesheet">
</head>

<body>

    <%- include("header") %>

    <div class = "content">
        <% if (typeof errorList !== "undefined") { %>
            <ul class = "errorWarnings">
            <h3>Error(s) submitting form:</h3>
            <% for (let i = 0; i < errorList.length; i += 1) { %>
                <li>- <%= errorList[i] %></li>
            <% } %>
        </ul>
        <% } %>


        <form action="/edit-food-item-confirmation/<%= foodListItem._id %>" method = "post">
            <label for="name">Name:  </label>
            <input type="text" id="name" name="name" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[0] %>"
            <% } else { %>
                value="<%= foodListItem.name %>"
            <% } %>
            "><br>

            <label for="kcalPer100">Calories (kcal)*: </label>
            <input type="text" id="kcalPer100" name="kcalPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[1] %>"
                <% } else {%>
                value="<%= foodListItem.kcalPer100 %>"
                <% } %>"><br>

            <label for="fatPer100">Fat (g)*: </label>
            <input type="text" id="fatPer100" name="fatPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[2] %>"
                <% } else {%>
                value="<%= foodListItem.fatPer100 %>"
                <% } %>"><br>

            <label for="saturatedFatPer100">Of which saturates (g)*: </label>
            <input type="text" id="saturatedFatPer100" name="saturatedFatPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[3] %>"
                <% } else {%>
                value="<%= foodListItem.saturatedFatPer100 %>"
                <% } %>"><br>

            <label for="carbohydratesPer100">Carbohydrates (g)*: </label>
            <input type="text" id="carbohydratesPer100" name="carbohydratesPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[4] %>"
                <% } else {%>
                value="<%= foodListItem.carbohydratesPer100 %>"
                <% } %>"><br>

            <label for="sugarsPer100">Sugar (g)*: </label>
            <input type="text" id="sugarsPer100" name="sugarsPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[5] %>"
                <% } else {%>
                value="<%= foodListItem.sugarsPer100 %>"
                <% } %>"><br>

            <label for="fibrePer100">Fibre (g)*: </label>
            <input type="text" id="fibrePer100" name="fibrePer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[6] %>"
                <% } else {%>
                value="<%= foodListItem.fibrePer100 %>"
                <% } %>"><br>

            <label for="proteinPer100">Protein (g)*: </label>
            <input type="text" id="proteinPer100" name="proteinPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[7] %>"
                <% } else {%>
                value="<%= foodListItem.proteinPer100 %>"
                <% } %>"><br>

            <label for="saltPer100">Salt (g)*: </label>
            <input type="text" id="saltPer100" name="saltPer100" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[8] %>"
                <% } else {%>
                value="<%= foodListItem.saltPer100 %>"
                <% } %>"><br>

            <label for="averageServing">Average serving: </label>
            <input type="text" id="averageServing" name="averageServing" <% if (typeof errorList !== "undefined") { %>
                value="<%= previousUserInput[9] %>"
                <% } else {%>
                value="<%= foodListItem.averageServing %>"
                <% } %>"><br>

            <label for="createdAt">Date/time created: </label>
            <input type="text" id="createdAt" name="createdAt" value="<%= foodListItem.createdAt %>" readonly disabled><br>

            <input type="submit" class="js-submit" value="Update food info">

            <a href="/food" class="cancelbutton">Cancel</a>
        </form>
    </div>

<%- include("footer") %>

</body>
</html>
